.exchange-rate-widget {
    position: fixed; /* Фиксированное положение */
    top: 20px; /* Расстояние от верхней границы */
    right: 20px; /* Расстояние от правой границы */
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    border-radius: 8px; /* Скругление углов */
    padding: 15px; /* Отступы внутри блока */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для глубины */
    z-index: 1000; /* Виджет поверх других элементов */
    transition: all 0.3s ease; /* Плавные переходы */
    max-width: 250px; /* Максимальная ширина для удобного отображения */
}

.exchange-rate-widget h2 {
    margin: 0 0 10px; /* Убираем отступы снизу */
    font-size: 1.2em; /* Размер заголовка */
    color: #333; /* Темный цвет текста для хорошей читабельности */
    font-weight: bold; /* Жирный шрифт для заголовка */
}

.exchange-rate-widget ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.exchange-rate-widget li {
    margin: 5px 0; /* Отступы между элементами списка */
    font-size: 1em; /* Размер текста */
    color: #333; /* Черный или темно-серый цвет текста */
}

.exchange-rate-widget li span {
    font-weight: bold; /* Выделение важной информации */
    color: #000; /* Чёрный цвет для акцентов */
}
.exchange-rate-widget p
{
    color: #282c34;
}